@import "tailwindcss";

@import "./substyles/_spinner.css";

:root, eodash-style-editor {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

#mapToolbar {
  position: fixed;
  right: 20px;
  width: 32px;
  min-height: 90px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
}

eox-map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

#style-editor-loader {
  background: #FFF9;
  position: fixed;
  top: 90px;
  right: 20px;
  bottom: 20px;
  left: 480px;
  z-index: 100;
}

#style-editor-loader > div > .spinner {
  transform: scale(4);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  width: 600px;
  height: 100vh;
  padding: 20px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
}

.editor-toolbar {
  position: absolute;
  left: 16px;
  top: 0;
  right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.editor-toolbar span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.editor-toolbar span.start {
  justify-content: flex-start;
}

.editor-toolbar span.end {
  justify-content: flex-end;
}

.icon-container {
  width: 36px;
  height: 36px;
  background: #00417033;
  border-radius: 6px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container.blue {
  background: #509CCFBB;
}

.icon-container.green {
  background: #67B02FBB;
}

.icon {
  height: 24px;
  width: 24px;
  /* Position the icon properly */
  background-position: center;
  background-repeat: no-repeat;
}

.icon.layer-control {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2336424A' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Elayers%3C/title%3E%3Cpath d='M12,16L19.36,10.27L21,9L12,2L3,9L4.63,10.27M12,18.54L4.62,12.81L3,14.07L12,21.07L21,14.07L19.37,12.8L12,18.54Z' /%3E%3C/svg%3E");
}

.icon.code-editor {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2336424A' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Ecode-braces%3C/title%3E%3Cpath d='M8,3A2,2 0 0,0 6,5V9A2,2 0 0,1 4,11H3V13H4A2,2 0 0,1 6,15V19A2,2 0 0,0 8,21H10V19H8V14A2,2 0 0,0 6,12A2,2 0 0,0 8,10V5H10V3M16,3A2,2 0 0,1 18,5V9A2,2 0 0,0 20,11H21V13H20A2,2 0 0,0 18,15V19A2,2 0 0,1 16,21H14V19H16V14A2,2 0 0,1 18,12A2,2 0 0,1 16,10V5H14V3H16Z' /%3E%3C/svg%3E");
}

.icon.import {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23FFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Eimport%3C/title%3E%3Cpath d='M14,12L10,8V11H2V13H10V16M20,18V6C20,4.89 19.1,4 18,4H6A2,2 0 0,0 4,6V9H6V6H18V18H6V15H4V18A2,2 0 0,0 6,20H18A2,2 0 0,0 20,18Z' /%3E%3C/svg%3E");
}

.editor-title {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 16px;
  color: #051E2E;
}

.layers-title {
  font-weight: 700;
  font-size: 16px;
  color: #051E2E;
}

.card {
  position: relative;
  display: flex;
  padding: 9px;
  margin-bottom: 16px;
  border-radius: 12px;
  width: 460px;
  min-height: 300px;
  background: #fffa;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.card.layers {
  min-height: 200px;
}

#map-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

eox-jsonform {
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  height: 300px;
  max-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.row {
  margin-bottom: 16px;
}