@import "tailwindcss";
    
:host {
  display: flex;
  width:300px;
  height: 300px;
}

.style-editor-card {
  position: relative;
  display: flex;
  padding: 20px 20px;
  margin-bottom: 16px;
  border-radius: 12px;
  width: 460px;
  min-height: 300px;
  background: #fffa;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
div {
  display: flex;
}